<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Weather Find</title>
  </head>
  <body>
    <main>
     
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4"> <h3>WeatherFinder</h3> </span>
          </a>
        </header>
    
        <div class="p-5 mb-4 bg-info rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">What is weather today?</h1>
            <p class="col-md-8 fs-4">Find the weather of any city by searching with the name of the city</p>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-3"></div>
          <div class="col-6">
            <form method="POST" class="card p-2">
              {% csrf_token %}
              <div class="input-group">
                <input type="text" name="city" type="text" class="form-control" placeholder="Type city here" required>
                <button type="submit" class="btn btn-danger btn-block">Get Weather</button>
              </div>
            </form>
          </div>
          <div class="col-3"></div>
        </div>

        <div class="row row-cols-1  text-left weather_card" style="justify-content: center;" >
          <div class="card m-3"  style="max-width: 540px;">
            <div class="row g-2">
              <div class="col-md-3">
                <img src="http://openweathermap.org/img/w/{{city_weather_user.icon}}.png" alt="Weather_Image">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{city_weather_user.city}}</h5>
                  <p class="card-text">{{ city_weather_user.temperature }} &#8451</p>
                  <p class="card-text"><small class="text-muted">{{city_weather_user.description}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 mb-3 text-left weather_card" style="justify-content: center;" >
          {% for city_weather in weather_data %}
          <div class="card m-3"  style="max-width: 540px;">
            <div class="row g-2">
              <div class="col-md-3">
                <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Weather_Image">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{city_weather.city}}</h5>
                  <p class="card-text">{{ city_weather.temperature }} &#8451</p>
                  <p class="card-text"><small class="text-muted">{{city_weather.description}}</small></p>
                </div>
              </div>
            </div>
          </div>
         
          {% endfor %}

        </div>
        
        
    
    
        <footer class="pt-3 mt-4 text-muted border-top">
          &copy; 2021
        </footer>
      </div>
   
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    
  </body>
</html>